@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
}
h1 {
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 800px;
  border: solid black;
  margin: 25px auto;
  background-color: gray;
  border-radius: 6px;
}
.display {
  width: 550px;
  height: 100px;
  border: solid black;
  justify-content: center;
  align-items: center;
  margin: 25px 25px;
  background-color: azure;
  font-family: 'Press Start 2P', cursive;
}
.previous{
  font-family: 'Press Start 2P', cursive;
  color: #354230;
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}
.current{
  font-family: 'Press Start 2P', cursive;
  margin-top: 1rem;
  color: #253529;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}
.button-container {
  width: 550px;
  height: 600px;
  margin: 25px 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "topleft topleft topright topmidright"
  "middle middle middle midmidright"
  "middle middle middle lowmidright"
  "middle middle middle lowermidright"
  "leftbottom middlebottom bottomright bottomright";
}
.operator{
  background-color:#254d6e;
}
.clear{
  background-color: #d1c02a;
}
.delete{
  background-color: #a62b16;
}
.equals{
  background-color: #8bb5ae;
  grid-area: bottomright;
}
.topleft{
  grid-area: topleft;
}
.topright{
  grid-area: topright;
}
.numberdot{
  grid-area: leftbottom;
}
.number0{
  grid-area: middlebottom;
}
.plus{
  grid-area: topmidright;
}
.minus{
grid-area: midmidright;
}
.division{
  grid-area: lowmidright;
}
.times{
  grid-area: lowermidright;
}
button{
  border: 1px solid;
  font-size: 20px;
  transition: .2s;
}
button:hover{
  opacity: 75%;
}